<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.system.AutoUpdateDAO" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.autoUpdate.UpdateConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="current_version" property="currentVersion" jdbcType="VARCHAR" />
    <result column="current_note" property="currentNote" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="com.tianyi.bph.domain.system.autoUpdate.VersionFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="version_code" property="versionCode" jdbcType="VARCHAR" />
    <result column="need_install" property="needInstall" jdbcType="INTEGER" />
    <result column="need_regist" property="needRegist" jdbcType="INTEGER" />
    <result column="file_index" property="fileIndex" jdbcType="INTEGER" />
    <result column="file_size" property="fileSize" jdbcType="DECIMAL" />
  </resultMap>
 
  <select id="getCount" parameterType="java.lang.String" resultType="Integer">
    select count(*) from t_update_config 
    where 
		#{version,jdbcType=VARCHAR} > current_version  
  </select>
  
  <select id="queryUpdateConfig" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from t_update_config 
    <!-- where 
		current_version > #{version,jdbcType=VARCHAR} -->    
  </select>
  
  <select id="queryVersion" parameterType="java.lang.String" resultMap="BaseResultMap2">
    select * from t_version_files 
    <!-- where 
		version_code != #{version,jdbcType=VARCHAR} -->    
  </select>
  
</mapper>