<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.bph.dao.system.CircleLayerDao">
  <!-- 圈层 -->
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.CircleLayer">
    <id column="ID" 					jdbcType="DECIMAL" 		property="id" />
    <result column="NAME" 				jdbcType="VARCHAR" 		property="name" />
    <result column="NOTE"	 			jdbcType="VARCHAR" 		property="note" />
    <result column="DISPLAY_PROPERTY"	jdbcType="VARCHAR" 		property="displayProperty" />
    <result column="MAP_PROPERTY" 		jdbcType="VARCHAR" 		property="mapProperty" />
  </resultMap>
  
  <sql id="TABLE_NAME">b_circle_layer</sql>
  
  <!-- 圈层查询 -->
  <select id="getCircleLayerList" resultMap="BaseResultMap" >
		select * from b_circle_layer 
  </select>
  
  <!-- 删除圈层 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from <include refid="TABLE_NAME" />
    	where ID = #{id, jdbcType=DECIMAL}
  </delete>
  
  <!-- 添加圈层 -->
  <insert id="insert" parameterType="com.tianyi.bph.domain.system.CircleLayer">
    insert into b_circle_layer (
		ID, NAME, NOTE, DISPLAY_PROPERTY, MAP_PROPERTY )
    values (#{id, jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
	    #{note,jdbcType=VARCHAR}, #{displayProperty,jdbcType=VARCHAR}, #{mapProperty,jdbcType=VARCHAR} )
    <selectKey resultType="int" keyProperty="id">
		select LAST_INSERT_ID() as ID
	</selectKey>
  </insert>
  
  <!-- 重复验证 -->
	<select id="getUniqueCountByQuery" parameterType="com.tianyi.bph.domain.system.CircleLayer" resultType="Integer">
		select count(*) from <include refid="TABLE_NAME" /> C
		where C.NAME = #{name,jdbcType=VARCHAR} 
		<if test="id != null and id != ''">
			AND C.ID != #{id,jdbcType=DECIMAL}
		</if>
	</select>
  <!-- 修改圈层信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.bph.domain.system.CircleLayer">
    update <include refid="TABLE_NAME" />
    <set>
      <if test="name != null">				NAME 				= #{name,jdbcType=VARCHAR},				</if>
      <if test="note != null">				NOTE 				= #{note,jdbcType=VARCHAR},				</if>
      <if test="displayProperty != null">	DISPLAY_PROPERTY 	= #{displayProperty,jdbcType=VARCHAR},	</if>
      <if test="mapProperty != null">		MAP_PROPERTY 		= #{mapProperty,jdbcType=VARCHAR},		</if>
    </set>
    where ID = #{id, jdbcType=DECIMAL}
  </update>
  
  <!-- 根据ID查询 -->
  <select id="getCircleLayerById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from <include refid="TABLE_NAME" /> C
   		where ID = #{id, jdbcType=DECIMAL}
  </select>
  
</mapper>