<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.bph.dao.system.RoleModuleFuctionDAO">
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.RoleModuleFuctionKey">
    <id column="MODULE_ID" jdbcType="DECIMAL" property="modFunId" />
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.tianyi.bph.domain.system.RoleModuleFuctionKey">
    delete from T_ROLE_MODULE_FUCTION
    where MODULE_ID = #{modFunId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByRoleKey" parameterType="java.lang.Integer">
    delete from T_ROLE_MODULE_FUCTION
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.system.RoleModuleFuctionKey">
    insert into T_ROLE_MODULE_FUCTION (MODULE_ID, ROLE_ID
      )
    values (#{modFunId,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.system.RoleModuleFuctionKey">
    insert into T_ROLE_MODULE_FUCTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modFunId != null">
        MODULE_ID,
      </if>
      <if test="roleid != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modFunId != null">
        #{modFunId,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <!--通过角色id获取功能信息  -->
  <select id="getModuleFunListByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		select * from T_ROLE_MODULE_FUCTION where ROLE_ID=#{roleId,jdbcType=DECIMAL}
  </select>
</mapper>