<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.system.UserOtherOrganDAO" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.UserOtherOrgan" >
    <id column="ORGAN_ID" property="organId" jdbcType="DECIMAL" />
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="getOrganIdByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
  	select distinct ORGAN_ID from T_USER_OTHER_ORGAN where user_id=#{userId,jdbcType=DECIMAL} order by ORGAN_ID
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.tianyi.bph.domain.system.UserOtherOrgan" >
    delete from T_USER_OTHER_ORGAN
    where ORGAN_ID = #{organId,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByUserKey" parameterType="java.lang.Long">
    delete from T_USER_OTHER_ORGAN
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.system.UserOtherOrgan" >
    insert into T_USER_OTHER_ORGAN (ORGAN_ID, USER_ID)
    values (#{organId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.system.UserOtherOrgan" >
    insert into T_USER_OTHER_ORGAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organId != null" >
        ORGAN_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organId != null" >
        #{organId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <select id="getOrganIdsByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
  	SELECT GROUP_CONCAT(organ_id) AS organId FROM t_user_other_organ where user_id=#{userId,jdbcType=DECIMAL}
  </select>
</mapper>