<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.bph.dao.system.UserDAO">
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.User">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="passWord" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PRESET" jdbcType="DECIMAL" property="preset" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  
  <resultMap id="OrganResultMap" type="com.tianyi.bph.domain.system.Organ">
    <id column="OID" jdbcType="DECIMAL" property="id" />
    <result column="OCODE" jdbcType="VARCHAR" property="code" />
    <result column="ONAME" jdbcType="VARCHAR" property="name" />
    <result column="OPARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="OPATH" jdbcType="VARCHAR" property="path" />
    <result column="OSHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="OORG_TYPE_CODE" jdbcType="VARCHAR" property="orgTypeCode" />
    <result column="OORG_PC_CGY_CODE" jdbcType="VARCHAR" property="orgPcCgyCode" />
    <result column="OLEVLE" jdbcType="DECIMAL" property="levle" />
    <result column="OSTATE" jdbcType="DECIMAL" property="state" />
    <result column="OCREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPRESET" jdbcType="DECIMAL" property="preset" />
    <result column="OUPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ONOTE" jdbcType="VARCHAR" property="note" />
    <result column="OSORT_NO" jdbcType="DECIMAL" property="sortNo" />
  </resultMap>
  
  <resultMap id="RoleResultMap" type="com.tianyi.bph.domain.system.Role">
    <id property="id" column="ROLE_ID" />
     <result  property="name" column="ROLE_NAME" />
     <result  property="preset" column="ROLE_PRESET" />  
     <result  property="createTime" column="ROLE_CREATETIME" />  
     <result  property="state" column="ROLE_STATE" />  
     <result  property="note" column="ROLE_NOTE" />  
  </resultMap>
  
  <resultMap id="ModuleResultMap" type="com.tianyi.bph.domain.system.Module">
    <id column="MID" jdbcType="DECIMAL" property="id" />
    <result column="MCODE" jdbcType="VARCHAR" property="code" />
    <result column="MNAME" jdbcType="VARCHAR" property="name" />
    <result column="MPARAM" jdbcType="VARCHAR" property="param" />
    <result column="MPARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="MMTYPE" jdbcType="DECIMAL" property="mtype" />
    <result column="MOP_TYPE" jdbcType="DECIMAL" property="opType" />
    <result column="MSORT_NO" jdbcType="DECIMAL" property="sortNo" />
  </resultMap>
    
  <resultMap type="com.tianyi.bph.domain.system.User" id="AllResultMap" extends="BaseResultMap">  
       <association property="organ" resultMap="OrganResultMap"/>
       <collection property="roles" ofType="Role" resultMap="RoleResultMap"/>  
       <collection property="modules" ofType="Module" resultMap="ModuleResultMap"/>  
   </resultMap>
   
   <sql id="Organ_Column_List">
    O.ID as OID, O.CODE as OCODE, O.NAME as ONAME, O.PARENT_ID as OPARENT_ID, O.PATH as OPATH, O.SHORT_NAME as OSHORT_NAME, 
    O.ORG_TYPE_CODE as OORG_TYPE_CODE, O.ORG_PC_CGY_CODE as OORG_PC_CGY_CODE, O.LEVLE as OLEVLE, O.STATE as OSTATE, 
    O.CREATE_TIME as OCREATE_TIME, O.PRESET as OPRESET, O.UPDATE_TIME as OUPDATE_TIME, O.NOTE as ONOTE, O.SORT_NO as OSORT_NO
  </sql>
  <sql id="Role_Column_List">
    R.ID as ROLE_ID, R.NAME as ROLE_NAME, R.PRESET as ROLE_PRESET,  R.NOTE as ROLE_NOTE
  </sql>
  
  <sql id="Module_Column_List">
    M.ID as MID, M.CODE as MCODE, M.NAME as MNAME, M.PARAM as MPARAM, M.PARENT_ID as MPARENT_ID, 
    M.MTYPE as MMTYPE, M.OP_TYPE as MOP_TYPE, M.SORT_NO as MSORT_NO
  </sql>
  
  <sql id="Base_Column_List">
    U.ID, U.USER_ID, U.USER_NAME, U.PASSWORD, U.ORG_ID, U.CREATE_TIME, U.UPDATE_TIME, U.PRESET, U.STATE, 
    U.LOGIN_TIME, U.NOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USERS U
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from USERS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.system.User">
  	
  	<selectKey statementType="STATEMENT" order="BEFORE" resultType="Long" keyProperty="id" >  
			SELECT USER_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	
    insert into USERS (ID, USER_ID, USER_NAME, 
      PASSWORD, ORG_ID, CREATE_TIME, 
      UPDATE_TIME, PRESET, STATE, 
      LOGIN_TIME, NOTE)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{orgId,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{preset,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.system.User">
    insert into USERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="preset != null">
        PRESET,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="loginTime != null">
        LOGIN_TIME,
      </if>
      <if test="note != null">
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preset != null">
        #{preset,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.bph.domain.system.User">
    update USERS
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preset != null">
        PRESET = #{preset,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.bph.domain.system.User">
    update USERS
    set USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PRESET = #{preset,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      NOTE = #{note,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

	<!-- 更新密码 -->
	<update id="updateUserPassword">
		UPDATE USERS U 
		SET U.PASSWORD = #{password,jdbcType=VARCHAR} 
		WHERE U.ID = #{id, jdbcType=DECIMAL}
	</update>
	
	<!-- 通过用户名查询  -->
	<select id="getUserByName" parameterType="string" resultMap="BaseResultMap">
	    SELECT  <include refid="Base_Column_List"/>
	    FROM USERS U where U.USER_ID =#{userName,jdbcType=VARCHAR} ORDER BY U.CREATE_TIME DESC
	</select>
	
	<!-- 条件、分页 -->
 	<sql id="find">
 		<if test="organPath != null and organPath != ''">
			select <include refid="Base_Column_List" />, <include refid="Organ_Column_List" />,
			<include refid="Role_Column_List" />,<include refid="Module_Column_List" />
	    	from USERS U inner join Organ O 
	    	on U.ORG_ID = O.ID 
	    	left join USER_ADD_MODULE UAM on UAM.USER_ID = U.ID 
	    	left join MODULE M on UAM.MOD_FUN_ID = M.ID 
		</if>
		<if test="organPath == null or organPath == ''">
			select <include refid="Base_Column_List" />,<include refid="Role_Column_List" />,<include refid="Module_Column_List" />
	    	from USERS U 
	    	left join USER_ADD_MODULE UAM on UAM.USER_ID = U.ID 
	    	left join MODULE M on UAM.MOD_FUN_ID = M.ID 
		</if>
		<if test="roleId == null">
			left join USER_ROLE UR on U.ID = UR.USER_ID 
	    	left join ROLE R on UR.ROLE_ID = R.ID 
		</if>
		<if test="roleId != null">
			inner join USER_ROLE UR on U.ID = UR.USER_ID 
	    	left join ROLE R on UR.ROLE_ID = R.ID 
		</if>
		
			    	
		where 1=1 
		<if test="organPath != null and organPath != ''">
			AND O.PATH  LIKE  #{organPath,jdbcType=VARCHAR}||'%' 
		</if>
		<if test="roleId != null">
			AND UR.ROLE_ID  =  #{roleId, jdbcType=DECIMAL}
		</if>
		<if test="userName != null  and userName != ''">
			AND (U.USER_NAME LIKE '%'||#{userName,jdbcType=VARCHAR}||'%' or U.USER_ID LIKE '%'||#{userName,jdbcType=VARCHAR}||'%')
		</if>
	</sql>
	
	<select id="findByPage" parameterType="com.tianyi.bph.query.system.UserQuery"  resultMap="AllResultMap" >
		select <include refid="Base_Column_List" />, <include refid="Organ_Column_List" />,
			<include refid="Role_Column_List" />,<include refid="Module_Column_List" /> 
			from 
			(select * from (select U.*, rownum ro from (select distinct <include refid="Base_Column_List" /> from (<include refid="find" /> ) U ) U 
			where rownum &lt;=#{end}) where ro &gt;#{begin}) U 
			left join Organ O 
	    	on U.ORG_ID = O.ID 
	    	left join USER_ADD_MODULE UAM on UAM.USER_ID = U.ID 
	    	left join MODULE M on UAM.MOD_FUN_ID = M.ID 
	    	left join USER_ROLE UR on U.ID = UR.USER_ID 
	    	left join ROLE R on UR.ROLE_ID = R.ID 
	</select>
	
	
	<select id="findCount"  resultType="Integer">
		select count(distinct ID) from (
				<include refid="find" />
		) count_
	</select>
	
	<select id="findByQuery" parameterType="com.tianyi.bph.query.system.UserQuery"  resultMap="AllResultMap" >
		<include refid="find" />
	</select>
	
	<!-- 重复验证 -->
	<select id="getUniqueCountByQuery" parameterType="com.tianyi.bph.query.system.UserQuery" resultType="Integer">
		select count(*) from USERS U 
		where U.USER_ID = #{userId,jdbcType=VARCHAR}
		<if test="id != null and id != ''">
			AND U.ID != #{id,jdbcType=DECIMAL}
		</if>
	</select>
	
	<update id="updateByMySelective" parameterType="com.tianyi.bph.domain.system.User">
    update USERS
    <set>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>