<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.system.UserAddModuleDAO" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.system.UserAddModuleKey" >
    <id column="MOD_FUN_ID" property="modFunId" jdbcType="DECIMAL" />
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.tianyi.bph.domain.system.UserAddModuleKey" >
    delete from USER_ADD_MODULE
    where MOD_FUN_ID = #{modFunId,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByUserKey" parameterType="java.lang.Long">
    delete from USER_ADD_MODULE
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.system.UserAddModuleKey" >
    insert into USER_ADD_MODULE (MOD_FUN_ID, USER_ID)
    values (#{modFunId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.system.UserAddModuleKey" >
    insert into USER_ADD_MODULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modFunId != null" >
        MOD_FUN_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modFunId != null" >
        #{modFunId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>