<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.bph.dao.base.BaseStationDao">
	<resultMap id="BaseResultMap" type="com.tianyi.bph.domain.base.BaseStation">
		<result column="ID" jdbcType="DECIMAL" property="id"/>
		<result column="CODE" jdbcType="VARCHAR" property="code"/>
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
		<result column="ADMINISTER" jdbcType="VARCHAR" property="administer"/>
		<result column="ADMINISTER_PHONE" jdbcType="VARCHAR" property="administerPhone"/>
		<result column="CAN_NET" jdbcType="DECIMAL" property="canNet"/>
		<result column="SORUCE" jdbcType="VARCHAR" property="source"/>
		<result column="CHANNEL_CODE" jdbcType="VARCHAR" property="channelCode"/>
		<result column="CHANNEL_COUNT" jdbcType="VARCHAR" property="channelCount"/>
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="HEIGHT" jdbcType="VARCHAR" property="height"/>
		<result column="LATITUDE" jdbcType="VARCHAR" property="latitude"/>
		<result column="LONGITUDE" jdbcType="VARCHAR" property="longitude"/>
		<result column="MANUFACTURER" jdbcType="VARCHAR" property="manufacturer"/>
		<result column="NOTE" jdbcType="VARCHAR" property="note"/>
		<result column="TYPE" jdbcType="VARCHAR" property="type"/>
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="ORGAN_ID" jdbcType="DECIMAL" property="organId"/>
	</resultMap>
	
	<sql id="Base_Column_List">
    	BS.ID, BS.CODE, BS.NAME,BS.ADDRESS,BS.ADMINISTER,
    	BS.ADMINISTER_PHONE,BS.CAN_NET,BS.SORUCE,BS.CHANNEL_CODE,BS.CHANNEL_COUNT,
    	BS.CREATE_TIME,BS.HEIGHT,BS.LATITUDE,BS.LONGITUDE,BS.MANUFACTURER,BS.NOTE,
    	BS.TYPE,BS.UPDATE_TIME,BS.ORGAN_ID
  	</sql>
</mapper>