<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.tianyi.bph.dao.MessageManageDAO">
	<insert id="save" parameterType="MessageManage">
		INSERT INTO MESSAGE(ID,MSG_CONTEXT,BUSINESS_CODE,MSG_USERID,SEND_TIME,MSG_STATE)
		<selectKey statementType="STATEMENT" order="BEFORE" resultType="Long" keyProperty="ID" >  
			SELECT MESSAGE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		VALUES(
		#{ID,jdbcType=BIGINT},#{content,jdbcType=VARCHAR},#{msgKey,jdbcType=VARCHAR},#{userID,jdbcType=VARCHAR},#{creatTime,jdbcType=TIMESTAMP},#{state,jdbcType=INTEGER}
		)
	</insert>
	
	
	<insert id="saveReceiver" parameterType="MessageManageReceiver">
		INSERT INTO MESSAGERECEIVE(MSG_ID,RECEIVE_USERID,RECEIVE_STATE,RECEIVE_TIME)
		VALUES(
		#{msgID,jdbcType=BIGINT},#{receiveUserID,jdbcType=BIGINT},#{state,jdbcType=INTEGER},#{receiveTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<sql id="messageColumns">
		M.ID as ID ,
		M.MSG_USERID as userID, 
		M.MSG_CONTEXT as content,
		M.BUSINESS_CODE as msgKey,
		M.SEND_TIME as creatTime,
		M.MSG_STATE as state
	</sql>
	
	<sql id="messageReceiverColumns">
		MC.MSG_ID as msgID ,
		MC.RECEIVE_USERID as receiveUserID, 
		MC.RECEIVE_STATE as state,
		MC.RECEIVE_TIME as receiveTime
	</sql>
	
	<update id="updateReceiver">
		UPDATE MESSAGERECEIVE MR SET MR.RECEIVE_STATE = #{state,jdbcType=INTEGER}
		WHERE MR.MSG_ID = #{msgID, jdbcType=DECIMAL}
	</update>
	
	<!-- 通过手机 号查询  -->
	<select id="getReceiver" resultType="MessageManageReceiver">
	    SELECT  <include refid="messageReceiverColumns"/>
	    FROM MESSAGERECEIVE MC where  MC.MSG_ID =#{msgID,jdbcType=BIGINT} AND　MC.RECEIVE_USERID =#{userID,jdbcType=BIGINT}
	</select>
	
	<!-- 通过手机 号查询  -->
	<select id="getByUserID" parameterType="Long" resultType="MessageManage">
		SELECT  <include refid="messageColumns"/>
	    FROM MESSAGE M,MESSAGERECEIVE MC where M.ID=MC.MSG_ID AND MC.RECEIVE_USERID =#{userID,jdbcType=BIGINT} AND RECEIVE_STATE=1 ORDER BY M.SEND_TIME DESC
	</select>
	
	<!-- 通过手机 号查询  -->
	<select id="getUnReadByUserID" parameterType="Long" resultType="MessageManage">
		SELECT * FROM (
		    SELECT  <include refid="messageColumns"/>
		    FROM MESSAGE M,MESSAGERECEIVE MR 
		    where M.ID=MR.MSG_ID AND MR.RECEIVE_STATE = 0 AND MR.RECEIVE_USERID =#{userID,jdbcType=BIGINT} 
		    union
			SELECT  <include refid="messageColumns"/>
				    FROM MESSAGE M where not exists (select * from MESSAGERECEIVE MR where M.ID=MR.MSG_ID)
		)
		ORDER BY creatTime DESC
	   
	</select>
	
</mapper>